<a href="https://colab.research.google.com/github/MylavarapuSaketh/Saketh_INFO5731_Fall2023/blob/main/Mylavarapu_Saketh_Exercise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [1]:
def calculate_area(length, width):
  """Calculates the area of a rectangle.

  Args:
    length: The length of the rectangle.
    width: The width of the rectangle.

  Returns:
    The area of the rectangle.
  """
  return length * width


def main():
  """The main function."""
  # Get the length and width of the rectangle from the user.
  length = float(input("Enter the length of the rectangle: "))
  width = float(input("Enter the width of the rectangle: "))

  # Calculate the area of the rectangle.
  area = calculate_area(length, width)

  # Print the area of the rectangle.
  print("The area of the rectangle is", area)


if __name__ == "__main__":
  main()

Enter the length of the rectangle: 5
Enter the width of the rectangle: 5
The area of the rectangle is 25.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [2]:
def swap_numbers(num1, num2):
  num1 = num1 + num2
  num2 = num1 - num2
  num1 = num1 - num2
  return num1, num2

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("The numbers before swapping are:", num1, num2)
num1, num2 = swap_numbers(num1, num2)
print("The numbers after swapping are:", num1, num2)

Enter the first number: 2
Enter the second number: 4
The numbers before swapping are: 2 4
The numbers after swapping are: 4 2

(3) Write a Python program to calculate the length of a string.

In [3]:
def length_of_string(str1):
  length = 0
  for i in str1:
    length += 1
  return length

str1 = "Computational Methods"
print("The length of the string is:", length_of_string(str1))

The length of the string is: 21

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
def count_characters(str1):
  char_counts = {}
  for char in str1:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

str1 = "Computational Methods"
print(count_characters(str1))

{'C': 1, 'o': 3, 'm': 1, 'p': 1, 'u': 1, 't': 3, 'a': 2, 'i': 1, 'n': 1, 'l': 1, ' ': 1, 'M': 1, 'e': 1, 'h': 1, 'd': 1, 's': 1}

(5) Write a Python program to sum all the items in a list.

In [5]:
def sum_list(list1):
  sum = 0
  for num in list1:
    sum += num
  return sum

list1 = [1, 2, 3, 4, 5]
print("The sum of the list is:", sum_list(list1))

The sum of the list is: 15

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [6]:
def replace_char(str1):
  first_char = str1[0]
  new_str = ""
  for char in str1:
    if char == first_char:
      new_str += "$"
    else:
      new_str += char
  return new_str

str1 = "Computer "
print(replace_char(str1))

$omputer

(7) Create a program that calculates the factorial of a number using a while loop.

In [7]:
def factorial(n):
  factorial = 1
  i = 1
  while i <= n:
    factorial *= i
    i += 1
  return factorial

number = 5
print("The factorial of", number, "is", factorial(number))

The factorial of 5 is 120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [8]:
def get_even_numbers(list1):
  even_numbers = []
  for num in list1:
    if num % 2 == 0:
      even_numbers.append(num)
  return even_numbers

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = get_even_numbers(list1)
print(even_numbers)

[2, 4, 6, 8, 10]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [9]:
def calculate_s(a, b):
  S = 3.14 * (1 + a / b) ** 3
  return S

a = 2
b = 3
S = calculate_s(a, b)
print("S = ", S)

S =  14.537037037037033

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic4 = dic1.copy()
dic4.update(dic2)
dic4.update(dic3)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [11]:
def find_largest_smallest(nums):
  largest = nums[0]
  smallest = nums[0]
  for num in nums:
    if num > largest:
      largest = num
    elif num < smallest:
      smallest = num
  return largest, smallest

nums = (10, 4, 2, 9, 7)
largest, smallest = find_largest_smallest(nums)
print("The largest number is", largest)
print("The smallest number is", smallest)

The largest number is 10
The smallest number is 2

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [12]:
def count_characters(str1):
  char_counts = {}
  for char in str1:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

str1 = "Computational methods"
char_counts = count_characters(str1)
print(char_counts)

{'C': 1, 'o': 3, 'm': 2, 'p': 1, 'u': 1, 't': 3, 'a': 2, 'i': 1, 'n': 1, 'l': 1, ' ': 1, 'e': 1, 'h': 1, 'd': 1, 's': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [13]:
def check_element_exists(tuple1, element):
  exists = False
  for ele in tuple1:
    if ele == element:
      exists = True
      break
  return exists

tuple1 = (1, 2, 3, 4, 5)
element = 5

print(check_element_exists(tuple1, element))

True

(14) Write a Python program to find maximum and the minimum value in a set.

In [14]:
def find_min_max(set1):
  min_value = min(set1)
  max_value = max(set1)
  return min_value, max_value

set1 = {10, 4, 2, 9, 7}
min_value, max_value = find_min_max(set1)
print("The minimum value in the set is", min_value)
print("The maximum value in the set is", max_value)

The minimum value in the set is 2
The maximum value in the set is 10

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [21]:
import random

student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

# Shuffle the student list randomly
random.shuffle(student_list_fall_2023)

# Calculate the number of groups
num_groups = len(student_list_fall_2023) // 4

# Initialize groups
groups = [[] for _ in range(num_groups)]

# Assign students to groups
for student in student_list_fall_2023:
    assigned = False
    for group in groups:
        if len(group) < 6:
            group.append(student)
            assigned = True
            break
    if not assigned:
        print(f"Couldn't assign student {student} to a group.")

# Print the groups
for i, group in enumerate(groups, start=1):
    print(f"Group {i}: {group}")

Group 1: ['dv0310', 'dt0463', 'am2807', 'as2819', 'sm2747', 'vr0331']
Group 2: ['pm0658', 'htn0086', 'vm0597', 'tc0469', 'sd0926', 'su0137']
Group 3: ['rm1090', 'mt0825', 'ac1770', 'gk0257', 'sc1622', 'ss2981']
Group 4: ['mg1299', 'ad1187', 'am2346', 'vkk0022', 'bk0413', 'sg1638']
Group 5: ['mb1296', 'sm2343', 'ns0756', 'gp0306', 'sm2364', 'lp0502']
Group 6: ['yr0180', 'lb0582', 'gm0558', 'mc1453', 'sr1508', 'sd1268']
Group 7: ['sp2075', 'sb1826', 'ag1609', 'ab1820', 'sb1883']
Group 8: []
Group 9: []
Group 10: []

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [16]:
def find_duplicates(array):
  seen = set()
  duplicates = []
  for num in array:
    if num in seen:
      duplicates.append(num)
    else:
      seen.add(num)

  if not duplicates:
    return -1
  else:
    return duplicates

array = [1, 2, 3, 4, 5]
duplicates = find_duplicates(array)
print(duplicates)

-1

(17) Write a Python program to select all the Sundays of a specified year.

In [17]:
import datetime

def get_sundays(year):
    sundays = []
    for month in range(1, 13):
        for day in range(1, 32):
            try:
                date = datetime.date(year, month, day)
                if date.weekday() == 6:  # Sunday has index 6 in the weekday() function
                    sundays.append(date)
            except ValueError:
                pass
    return sundays

specified_year = int(input("Enter a year: "))
sundays = get_sundays(specified_year)

print(f"Sundays in {specified_year}:")
for sunday in sundays:
    print(sunday)

Enter a year: 2023
Sundays in 2023:
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [18]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = int(input("Enter a positive integer: "))
factorial = factorial(number)
print("The factorial of", number, "is", factorial)

Enter a positive integer: 6
The factorial of 6 is 720

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [19]:
def count_even_numbers(n):
  count = 0
  i = 1
  while i <= n:
    if i % 2 == 0:
      count += 1
    i += 1
  return count

number = int(input("Enter a positive integer: "))
even_count = count_even_numbers(number)
print("The number of even numbers from 1 to", number, "is", even_count)

Enter a positive integer: 7
The number of even numbers from 1 to 7 is 3

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [20]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  count = 0
  for char in string:
    if char in vowels:
      count += 1
  return count

string = input("Enter a string: ")
vowel_count = count_vowels(string)
print("The number of vowels in the string is", vowel_count)

Enter a string: Computational Methods
The number of vowels in the string is 8