<a href="https://colab.research.google.com/github/MylavarapuSaketh/Saketh_INFO5731_Fall2023/blob/main/Mylavarapu_Saketh_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [2]:
import random

# Generate 12 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(12)]

# Sort the list in ascending order
ascending_sorted = sorted(random_numbers)

# Sort the list in descending order
descending_sorted = sorted(random_numbers, reverse=True)

# Calculate the average
average = sum(random_numbers) / len(random_numbers)

# Print the results
print("Random Numbers:", random_numbers)
print("Ascending Sorted:", ascending_sorted)
print("Descending Sorted:", descending_sorted)
print("Average:", average)

Random Numbers: [64, 66, 48, 89, 24, 59, 85, 94, 4, 33, 42, 10]
Ascending Sorted: [4, 10, 24, 33, 42, 48, 59, 64, 66, 85, 89, 94]
Descending Sorted: [94, 89, 85, 66, 64, 59, 48, 42, 33, 24, 10, 4]
Average: 51.5

# Question 2
(25 points).

Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [3]:
import string

# Helper function to split a sentence into words
def split_sentence(sentence):
    words = sentence.split()
    # Handle punctuation within words
    for i in range(len(words)):
        word = words[i]
        clean_word = ''.join([c for c in word if c not in string.punctuation])
        words[i] = clean_word
    return words

# Helper function to count vowels in a sentence
def count_vowels(sentence):
    vowels = "aeiouAEIOU"
    vowel_count = {vowel: 0 for vowel in vowels}
    for char in sentence:
        if char in vowels:
            vowel_count[char.lower()] += 1
    return vowel_count

# Step 1: Ask the user to enter two sentences
sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

# Step 2: Split the sentences into lists of words
words1 = split_sentence(sentence1)
words2 = split_sentence(sentence2)

# Step 3: Compare the two sentences and find common words
common_words = list(set(words1) & set(words2))

# Step 4: Remove punctuation from the sentences
sentence1_cleaned = ' '.join(words1)
sentence2_cleaned = ' '.join(words2)

# Step 5: Count vowels in the sentences
vowel_count1 = count_vowels(sentence1_cleaned)
vowel_count2 = count_vowels(sentence2_cleaned)

# Print the results
print("Words in Sentence 1:", words1)
print("Words in Sentence 2:", words2)
print("Common Words:", common_words)
print("Sentence 1 without punctuation:", sentence1_cleaned)
print("Sentence 2 without punctuation:", sentence2_cleaned)
print("Vowel Counts in Sentence 1:", vowel_count1)
print("Vowel Counts in Sentence 2:", vowel_count2)

Enter the first sentence: I am Saketh Mylavarapu
Enter the second sentence: I Love Coding
Words in Sentence 1: ['I', 'am', 'Saketh', 'Mylavarapu']
Words in Sentence 2: ['I', 'Love', 'Coding']
Common Words: ['I']
Sentence 1 without punctuation: I am Saketh Mylavarapu
Sentence 2 without punctuation: I Love Coding
Vowel Counts in Sentence 1: {'a': 5, 'e': 1, 'i': 1, 'o': 0, 'u': 1, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}
Vowel Counts in Sentence 2: {'a': 0, 'e': 1, 'i': 2, 'o': 2, 'u': 0, 'A': 0, 'E': 0, 'I': 0, 'O': 0, 'U': 0}

# Question 3

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [4]:
import math

# Define a function to calculate the volume of a sphere
def calculate_volume(radius):
    return (4/3) * math.pi * radius**3

# Print the table header
print("r    V")

# Calculate and print the volume for radii in the range 1-10
for radius in range(1, 11):
    volume = calculate_volume(radius)
    print(f"{radius}    {volume:.2f}")

r    V
1    4.19
2    33.51
3    113.10
4    268.08
5    523.60
6    904.78
7    1436.76
8    2144.66
9    3053.63
10    4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [5]:
# Your code here
import statistics
import pandas as pd
data = pd.read_csv(r'/content/drive/MyDrive/Assignment01/Assignment1_denton_housing.csv')
#1
#Calculate the difference in the number of Occupied Housing Units from year to year andprint it.
#The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010

occuped_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year

diff_house = [list(occuped_houses['value'].values)[loop] - list(occuped_houses['value'].values)[loop+1]\
for loop in range(len(occuped_houses)-1)]
diff_house

[795, -5091, 303, -1404, -1565, -2622]

In [6]:
year_unique_value = sorted(list(data['year'].unique()))
the_occupied_houses = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
the_vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
unoccupied_house_df = pd.DataFrame()
unoccupied_house_df['year'] = year_unique_value
unoccupied_house_df['Vacant House'] =the_vacant_houses['value'].values
unoccupied_house_df['Occupied House'] =the_occupied_houses['value'].values
unoccupied_house_df['Percentage of Vacant House'] = [(unoccupied_house_df['Vacant House'][loop1] * 100) /\
                                           (unoccupied_house_df['Vacant House'][loop1] + unoccupied_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(unoccupied_house_df))]
unoccupied_house_df['Percentage of Occupied House'] = [(unoccupied_house_df['Occupied House'][loop1] * 100) /\
                                           (unoccupied_house_df['Vacant House'][loop1] + unoccupied_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(unoccupied_house_df))]
unoccupied_house_df

,year,Vacant House,Occupied House,Percentage of Vacant House,Percentage of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [7]:
# Find the maximum value in the 'value' column where 'title_field' is 'Vacant Housing Units'
no_of_max_idle_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
# Filter the rows where 'value' equals the maximum number of vacant houses
the_vacant_houses = the_vacant_houses[the_vacant_houses['value'] == no_of_max_idle_houses]
# Print the rows representing the vacant houses with the maximum value
print(the_vacant_houses)
no_of_max_filled_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
no_of_max_filled_houses = the_occupied_houses[the_occupied_houses['value'] == no_of_max_filled_houses]
print(no_of_max_filled_houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [8]:
# Import the 'statistics' module to perform statistical calculations.
import statistics
# Print the calculated harmonic mean
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].value)))

44398.28543969185